* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home{
    overflow-y: scroll;
    margin-bottom: 6vh;
}
.video_player {
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  padding: 1.33333333vw;
}
.video_player iframe {
  width: 100%;
  height: 55.73333333vw;
  z-index: 1;
  border-radius: 5px;
}
.show_list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-height: 40vw;
  overflow-y: auto;
  margin-top: 1vw;
}
.show_list a {
  color: black;
  text-decoration: none;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin: 1.33333333vw 1.8vw;
  height: 10.66666667vw;
  min-width: 10.66666667vw;
  max-width: 90vw;
  overflow: hidden;
  border-radius: 2.1vw;
  /* border: lightgrey solid 0.26666667vw; */
  background-color: rgb(238,240,239);
}
.show_list a .link {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  text-align: left;
  font-size: 5vw;
  /* height: 10.66666667vw; */
  /* width: 10.66666667vw; */
  /* min-width: 10.66666667vw; */
  max-width: 90vw;
  overflow: hidden;
  
  /* border-radius: 1.33333333vw;
  border: lightgrey solid 0.26666667vw; */
}
.selection {
  height: 6.66666667vw;
}

.show_list .active {
    color:rgb(239, 86, 28) ;
    border: rgb(239, 86, 28) solid 0.5vw;
    background-color:rgb(241, 205, 191) ;
}

h3{
    margin-left: 1.8vw;
}
h5{
    margin: 1.8vw;
}
.nav_interface{
    display: flex;
    /* flex-wrap: nowrap; */
    /* height: 20px; */
    overflow: hidden;
    /* margin: 6px 0; */
}
.nav_left{
    /* display: inline-block; */
    white-space: nowrap;
    padding-left: 6px;
    height: 6vw;
    line-height: 6vw;
}
.nav_list{
    /* color: #bfa; */
    display: flex;
    overflow-x: scroll;
}
.nav_list .list_item{
    width: 40vw;
    white-space: nowrap;
    padding: 0 10px;
    height: 6vw;
    line-height: 6vw;
}
.active_list{
    color:rgb(239, 86, 28)
}

.cupfox{
    height: 23vh;
    width: 360px;
    padding: 10px;
    
}
.cupfox a .title{
    height: 20px;
    width: 100%;
    color: #dd5325;
    font-size: 18px;
    margin: 10px 0 10px 0;
    
}
.cupfox a .text{
    height: 30px;
    width: 100%;
    display: flex;
    
}
.cupfox a .text .platform{
    display: flex;
    
}
.cupfox a .text .platform img{
    height: 22px;
    width: 22px;
    border-radius: 10px;
    border: 2px solid#9fd4fd;
    
}
.cupfox a .text .platform .platform_name{
    padding: 5px;
    height: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background:rgba(32, 108, 207, .1);
    text-align: center;
    line-height: 10px;
    color: rgba(32,108,207,1);
    font-size: 12px;
    margin-left: -4px;
}
.cupfox a .text .recommend{
    padding: 5px;
    margin-left: 5px;
    height: 20px;
    border-radius: 10px;
    background:rgba(32, 108, 207, .1);
    text-align: center;
    line-height: 10px;
    font-size: 12px;
    color: rgba(203, 30, 131, 0.9);
}